@import "_variables.scss";
@import "_mix";

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: $page-width;
  margin: 0 auto;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;

}
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  color: #222222;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
}
.logo-img {
  width: 59px;
  margin-right: 13px;
  margin-bottom: 4px
}
.logo-d {
  color: $pink;
  font-weight: 400;
  letter-spacing: 0.68px;
}
.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 37px;
}
.header-form-browse {
  position: relative;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  line-height: 38px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  padding: 0 15px;
  cursor: pointer;
}
.header-form-browse:hover .browse-menu {
  display: block;
}

.header-form-arrow {
  color: #838383;
  font-size: 12px
}
.header-form-search {
  display: flex;
}
.header-form-input {
  width: 280px;
  padding: 0 15px;
  font-size: 14px;
  color: #222222;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
}
.header-form-button {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  padding: 0 11px;
  color: #a4a4a4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.header-form-button:focus {
  outline: none;
}
.header-form-button:hover {
  color: $pink;
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-cart-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px;
}
.header-cart-wrap:hover .drop-cart {
  display: block;
}
.header-cart {
  width: 32px;
}
.button {
  height: 38px;
  background-color: $pink;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-decoration: none;
  padding: 0 15px;
}
.header-account-arrow {
  font-size: 13px;
}
.header-account-button {
  position: relative;
  height: 38px;
  cursor: pointer;
  &:hover .header-account-menu {
    display: block;
  }
}
.header-account-menu {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  width: max-content;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  padding: 20px 17px; 
  background: #fff;
  &-item {
    color: #232323;
    transition: color 0.2s;
    &:hover {
      color: $pink;
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(238, 244, 254, .9);
  z-index: 3;
  &__window {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    padding: 30px;
    margin-top: 22vh;
    box-shadow: 0 3px 8px -2px #dedada
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    font-size: 20px;
    color: #222;
    transition: color 0.2s;
    cursor: pointer;
    &:hover {
      color: $pink;
    }
  }
  &__title {
    padding-bottom: 20px;
  }
  &__error {
    position: absolute;
    display: block;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 21px;
    text-transform: uppercase;
    width: fit-content;
    color: #dc6b6b;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    &__label {
      display: block;
      padding-bottom: 6px;
    }
    &__input {
      padding: 0 15px;
      font-size: 18px;
      color: #222222;
      height: 38px;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      margin-bottom: 15px;
    }
    &__textarea {
      height: 100px;
    }
    &__submit {
      padding: 15px;
      margin-top: 15px;
      background: #fff;
      font-weight: 600;
      color: $pink;
      border-radius: 3px;
      border: 1px solid #ef5b70;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: #fff;
        background: $pink;
      }
    }
  }
  &_show {
    display: block;
  }
}
.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0;
}
.top-menu-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 20px 15px 17px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.top-menu-item:hover .top-menu-link {
  color: $pink;
}
.top-menu-item:hover .drop-menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  background: #e8e8e8;
}
.banner-background {
  height: 614px;
  background: url(../img/back_man.jpg) 0 -51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.banner-text {
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 225px;
  border-left: 12px solid $pink;
  padding-left: 12px;
}
.banner-text-big {
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 45px;
  margin-bottom: 15px;
}
.banner-text-small {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 29px;
}
.pink {
  color: $pink !important;
}

.catalog {
  margin-top: 98px;
}
.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog-left,
.catalog-right {
  width: 560px;
}
.catalog-item {
  display: block;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.catalog-item:hover {
  -webkit-filter: brightness(110%);
  -o-filter: brightness(110%);
  filter: brightness(110%);
}
.catalog-item-big {
  height: 542px;
}
.catalog-item-small {
  height: 261px;
}
.catalog-for-men {
  background: url(../img/for_men.jpg) no-repeat;
}
.catalog-women {
  background: url(../img/for_women.jpg) no-repeat;
}
.catalog-accesories {
  background: #dadad2 url(../img/accesories.jpg) no-repeat 155px 0;
}
.catalog-for-kids {
  background: url(../img/for_kids.jpg) no-repeat;
}
.catalog-item-title {
  position: absolute;
  left: 0;
  top: 27px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 16px 20px;
  background: #fff;
}
.catalog-offer {
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.45px;
}
.catalog-name {
  color: $pink;
  font-size: 30px;
  letter-spacing: 0.75px;
}
.featured {
  margin-top: 100px;
}
.featured-top-text {
  text-align: center;
}
.featured-title {
  color: #222222;
  font-size: 30px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.75px;
}
.featured-desc {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.35px;
  margin-top: 16px;
}
.featured-items {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.featured-item-wrap {
  position: relative;
  margin-bottom: 60px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.featured-item-wrap:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.featured-item-wrap:hover .featured-item-img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
.featured-item-wrap:hover .feature-addtocart {
  z-index: 1;
}
.featured-item-img {
  width: inherit;
  height: 280px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.feature-item-title {
  margin-top: 19px;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.feature-item-price {
  margin-top: 17px;
  color: $pink;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.catalog-button {
  text-align: center;
}
.catalog-button-link {
  padding: 18px 24px;

}

.offer {
  margin-top: 116px;
}
.offer-wrap {
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offer-left {
  position: relative;
}
.offer-img {
  width: 767px;
  height: 529px;
}
.offer-title {
  position: absolute;
  top: 146px;
  left: 39px;
  text-transform: uppercase;
  color: #ffffff;
}
.offer-title-big {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.offer-title-small {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.offer-right {
  background: #222224;
  width: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0;
}
.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
}
.offer-item-title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 35px;
  margin: 0;
}
.offer-item-desc {
  color: #fbfbfb;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.35px;
  margin-top: 12px;
  width: 219px;
  text-align: justify;
}
.feedback {
  margin-top: 100px;
}
.feedback-back {
  width: 100vw;
  max-width: 1609px;
  height: 438px;
  margin: 0 auto;
  background: rgba(173, 57, 22, 0.5) url(../img/feedback-back.jpg);
}
.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}
.feedback-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: 569px;
  border-right: 1px solid #fff;
}
.feedback-comment {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 111px;
}
.feedback-comment-photo {
  width: 83px;
  height: 83px;
}
.feedback-comment-right {
  width: 386px;
}
.feedback-comment-text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  padding-top: 4px;
  font-weight: 400;
}
.feedback-comment-name {
  color: $pink;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-top: 20px
}
.feedback-comment-city {
  color: #222224;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.feedback-comment-switch {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} 
.reviews {
  padding: 40px 0 60px;
}
.review .feedback-comment {
  margin: 0; 
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
.review-add {
  margin-top: 30px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  height: 55px;
  line-height: 55px;
  width: 300px;
  border: 1px solid #ef5b70;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  &:hover {
    color: #fff;
    background: #ef5b70;;
  }
}
.switch-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 20px;
  margin-right: 13px;
  cursor: pointer;
}
.switch-item-block {
  height: 4px;
  width: inherit;
  background-color: #d6d6d6;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.switch-item:hover .switch-item-block {
  background: $pink;
}
.feedback-right {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subscribe {
  text-align: center;
}
.subscribe-title {
  color: #222224;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;
}
.sibscribe-desc {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}
.subscribe-form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-form-input {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding-left: 28px;
  color: #222224;
  font-size: 14px;
}
.subscribe-form-button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: $pink;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.footer-wrap {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-about {
  width: 38%;
}
.about-text {
  margin-top: 25px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.footer-menu-wrap {
  width: 62%;
  padding: 10px 0 0 64px;
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-menu-item {
  color: $pink;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-submenu {
  margin-top: 40px;
}
.footer-submenu li {
  margin-bottom: 25px;
}
.footer-submenu-item {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.footer-submenu-item:hover {
  color: $pink;
}

.bottom-stripe {
  background: #e6e6e6;
  height: 79px;
}
.bottom-stripe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
}
.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.socials-item .fab {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.socials-item:hover .fab {
  color: #fff;
}
.socials-not-exist:hover .fab {
  color: #b2b2b2;
}
.socials-item:hover {
  background-color: $pink;
}
.socials-not-exist:hover {
  background-color: #ffffff;
}
.feature-addtocart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 94px;
  width: 100%;
  z-index: -1;
}
.feature-addtocart-link:hover {
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #fff;
}

.feature-addtocart-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  border: 1px solid #fff;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.featured-item-link {
  display: block;
  width: 261px;
  text-decoration: none;
}

.feature-addtocart-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}

.feature-cart-icon {
  margin-right: 8px;
}

.featured-item-text {
  padding: 0 14px 21px;
}

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 148px;
}

.title {
  background: #f8f3f4;
}

.title-head {
  color: $pink;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumbs-list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.breadcrumbs-link {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration 0.2s;
  transition: -webkit-text-decoration 0.2s;
  -o-transition: text-decoration 0.2s;
  transition: text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
.breadcrumbs-link:hover {
  text-decoration: underline;
}

.production-catalog-wrap {
  margin-top: 60px;
}

.production-catalog-left {
  width: 243px;
  float: left;
}

.production-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 10px;
  margin-bottom: 18px;
  border-left: 5px solid #ef5b70;
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;;
}

.production-menu-item.pink .production-menu-item-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.product-submenu-item {
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.product-submenu-item:hover {
  color: $pink;
}

.product-submenu {
  padding: 0 17px 15px;
}

.production-catalog-right {
  max-width: 100%;
  padding-left: 293px;
}

.production-filter-top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.production-filter-title {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.production-filter-trending-list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.production-filter-trending-item {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.production-filter-trending-item:hover {
  color: $pink;
}
.production-filter-trending-item span {
  color: #dfdfdf;
  margin-left: 8px;
}
.production-sort-details span {
  font-size: 12px;
  padding-left: 18px;
}

.production-filter-item {
  width: 33%;
}

.production-filter-size-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.production-filter-size-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.production-filter-size-item:before {
  content: " ";
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 9px;
  text-align: center;
  text-indent: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
}
input[type="checkbox"]:checked + label:before {
  content: "✔";
}

.range {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  margin-top: 18px;
}

.range-checked {
  position: absolute;
  top: 0;
  left: 31px;
  width: 124px;
  height: inherit;
  background-color: $pink;
}

.range-min {
  left: -7px;
}

.range-max {
  right: -7px;
}

.filter-checked-price {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}

.range-controller {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $pink;
  position: absolute;
  top: -4px;
  cursor: pointer;
}

.production-sort-details {
  padding: 6px 10px;
  border: 1px solid #ebebeb;
  background: #fff;
  cursor: pointer;
}
.production-sort-details summary {
  padding: 5px 10px;
}
.production-filter-bottom {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  margin-top: 35px;
}

.production-sort {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.production-sort-name {
  padding: 6px 10px;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}

.production-list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.production-item {
  position: relative;
  margin-bottom: 60px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.production-item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.production-item-link {
  display: block;
  width: 261px;
  text-decoration: none;
}

.production-item-img {
  width: inherit;
  height: 280px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.production-item:hover .production-item-img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.production-item-text {
  padding: 0 14px 21px;
}

.production-item-title {
  margin-top: 19px;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.production-item-price {
  margin-top: 17px;
  color: $pink;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.production-item-addtocart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 94px;
  z-index: -1;
  width: 100%;
}
.production-item:hover .production-item-addtocart {
  z-index: 1;
}
.production-item:hover .production-addtocart {
  z-index: 1;
}

.production-addtocart-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
}
.production-addtocart-link:hover {
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #fff;
}

.production-cart-icon {
  margin-right: 8px;
}

.production-addtocart-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}

.production-list-pages {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pages-list {
  padding: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.pages-list li {
  margin-right: 15px;
  color: #c4c4c4;
}
.pages-list a {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.pages-list a:hover {
  color: #ef5b70;
}
.pages-list li:last-child {
  margin: 0;
}



.pages-list-points {
  margin-left: -15px;
  margin-right: 0 !important;
}

.production-view-all {
  display: block;
  padding: 15px 45px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  text-decoration: none;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.production-view-all:hover {
  background: #ef5b70;
  color: #fff;
}

.advantages {
  height: 341px;
  background: #222224;
  margin-top: 100px;
}

.advantages-wrap {
  height: inherit;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages-item {
  text-align: center;
}



.advantages-item-title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
}

.advantages-item-desc {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.product-feedback {
  margin: 0 !important;
}

.drop-item {
  width: 235px;
  padding-right: 46px;
}

.drop-menu-list-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.drop-menu-list-link:hover {
  color: $pink;
}

.drop-menu-title {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin: 10px 0;
}

.drop-menu {
  display: none;
  position: absolute;
  top: 48px;
  left: -140px;
  padding: 10px 20px 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
}
.drop-menu:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
  left: 184px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
.drop-menu.vis {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-menu-img {
  position: relative;
  margin-top: 15px;
}
.drop-menu-img img {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.drop-menu-img:hover img {
  -webkit-filter:brightness(110%);
  filter:brightness(110%);
}

.drop-menu-img-text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.drop-menu-text-wrap {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: right;
}

.top-menu-item {
  position: relative;
}

.browse-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 36px;
  background:#fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  padding: 13px;
}
.browse-menu:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
  left: 64px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.drop-cart {
  position: absolute;
  display: none;
  top: 76px;
  left: 12px;
  background: #fff;
  padding: 20px 17px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  z-index: 1;
}
.drop-cart:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
  left: 25px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.drop-cart-img {
  width: 72px;
  height: 85px;
  margin-right: 14px;
}

.item-in-cart {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
}
.item-in-cart:first-child {
  padding-top: 0;
}

.drop-cart-itemname {
  margin: 5px 0 10px;
  line-height: 10px;
}



.fa-star {
  color: #e4af48;
  font-size: 12px;
}

.fa-star-half-alt {
  color: #e4af48;
  font-size: 12px;
}

.drop-cart-price {
  color: $pink;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 10px;
  letter-spacing: 3px;
}
.drop-cart-price span {
  position: relative;
  letter-spacing: 0.38px;
  font-size: 12px;
}
.cart-quantity-handle {
  display: block;
  position: absolute;
  left: 0px;
  color: #c0c0c0 !important;
  font-size: 11px !important;
  cursor: pointer;
  transition: 0.2s;
}
.cart-quantity-handle:hover {
  color: $pink !important;
}
.cart-quantity-plus {
  top: -7px;
}
.cart-quantity-minus {
  bottom: -9px;
}

.drop-cart-desc {
  width: 140px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}



.stars {
  line-height: 10px;
}

.fa-times-circle {
  color: #c0c0c0;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.fa-times-circle:hover {
  color: #222224;
}

.drop-cart-itemname {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0 10px;
  margin: 0;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.drop-cart-itemname:hover {
  color: $pink;
}

.drop-cart-total {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0 20px;
}
.drop-cart-total span {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.drop-cart-checkout {
  color: $pink;
  border: 1px solid $pink;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.drop-cart-checkout:hover {
  background: $pink;
  color: #fff;
}

.drop-cart-button {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
}

.drop-cart-gotocart {
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  -webkit-transition: background 0.2s, color 0.2s, border-color 0.2s;
  -o-transition: background 0.2s, color 0.2s, border-color 0.2s;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}
.drop-cart-gotocart:hover {
  background: #eaeaea;
  color: #222224;
  border-color: #898989;
}

.socials-not-exist {
  opacity: 0.3;
  cursor: auto;
}

.breadcrumbs-this-page {
  color: $pink;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}



.production-addtocart-icon {
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
}

.width100 {
  width: 100% !important;
}

.width40 {
  width: 40% !important;
}

.product-image {
  position: relative;
  height: 777px;
  background: #f7f7f7;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.product-card-img {
  height: 690px;
}

.product-card-arrow {
  position: absolute;
  top: 50%;
  background: #2a2a2a;
  opacity: 0.2;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.product-card-arrow:hover {
  opacity: 1;
}
.product-card-arrow.left {
  left: 0;
}
.product-card-arrow.right {
  right: 0;
}

.product-card-wrap {
  position: relative;
  top: -86px;
  padding: 70px 250px 120px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #eaeaea;
}

.product-card-title {
  position: relative;
  display: inline-block;
  color: $pink;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}
.product-card-title:before {
  position: absolute;
  content: "";
  width: 62px;
  height: 3px;
  background-color: #ef5b70;
  bottom: -2px;
  left: 50%;
  margin-left: -31px;
}

.product-card-subtitle {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  padding: 15px 0 24px;
}

.product-card-desc {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 24px 0 18px;
}

.product-stars .fas {
  font-size: 19px;
}

.product-details {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-details-item {
  margin: 0 22px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-detail-name {
  color: #b9b9b9;
  display: inline-block;
}

.product-detail-text {
  color: #2f2f2f;
  display: inline-block;
}

.product-card-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
}

.product-card-bottom {
  padding: 60px 52px 0;
}

.product-params {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-params-title {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;
}

.product-param {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border: 1px solid #eaeaea;
  padding: 0 12px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-param-color {
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  display: inline-block;
}

.product-param-text {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  display: inline;
}

.product-params-item {
  width: 144px;
}



.fa-angle-down {
  color: #bcbcbc;
  font-size: 14px;
}

.product-card-add {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  height: 55px;
  line-height: 55px;
  width: 100%;
  border: 1px solid #ef5b70;
  margin-top: 28px;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.product-card-add:hover {
  background: #ef5b70;
  color: #fff;
}

.title-extra {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.cart-wrap {
  margin-top: 70px;
}
.cart-heads {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.cart-table-row {
  @include df();
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}
.cart-table-col {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  text-align: center;
  color: #656565;
  font-size: 13px;
  font-weight: 600;
}
.cart-item-details {
  @include df();
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  text-align: left;
}
.cart-heads-title {
  @include title(13px, 400);
}
.cart-item-img {
  width: 100px;
}
.cart-item-desc {
  padding: 13px 0 0 20px;
}
.cart-item-title {
  display: block;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-decoration: none;
}
.cart-item-param {
  font-size: 13px;
  color: #575757;
  font-weight: 600;
  line-height: 20px;
}
.cart-item-param-val {
  color: #6f6e6e;
  font-weight: 300;
}
.cart-item-quantity {
  border: 1px solid #eaeaea;
  width: 54px;
  height: 30px;
  color: #656565;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.cart-table-shipping {
  text-transform: uppercase;
}
.cart-table-button-wrap {
  @include df();
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0 60px;
}
.transparent-button {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  padding: 15px 40px;
  text-decoration: none;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.transparent-button:hover {
  background: $pink;
  color: #fff;
}
.cart-form-wrap {
  @include df();
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}
.cart-form-item {
  width: 31%;
}
.cart-form-title {
  @include title(16px, 700);
  padding-bottom: 20px;
}
.cart-form-desc {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
}
.cart-form-input {
  height: 45px;
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.cart-form-input::-webkit-input-placeholder {
  color: #b1b1b1;
}
.cart-form-input:-moz-placeholder {
  color: #b1b1b1;
}
.cart-form-submit {
  height: 35px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  padding: 0 15px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.cart-form-submit:hover {
  background: $pink;
  color: #fff;
}
.cart-checkout {
  padding: 40px;
  background: #f5f3f3;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart-checkout-total {
  border-bottom: 1px solid #e2e2e2;
  text-align: right;
}
.cart-checkout-subtotal {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-checkout-subtotal-price {
  margin-left: 20px;
}
.cart-checkout-grandtotal {
  @include title(16px, 700);
  padding: 15px 0 20px;
}
.cart-checkout-grandtotal-price {
  color: $pink;
  margin-left: 20px;
}
.cart-checkout-button {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background: $pink;
  padding: 18px 0;
  margin-top: 18px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.cart-checkout-button:hover {
  background: #de6061;
}

.checkout-wrap {
  margin-bottom: 90px;
}
.checkout-list {
  list-style: decimal-leading-zero inside;
  font-weight: 700;
}
.checkout-item {
  padding: 30px 0;
  border-bottom: 1px solid #e8e8e8;
}
.checkout-title {
  @include title(16px, 700);
  display: inline;
}
.checkout-block {
  padding: 35px;
  @include df();
}
.checkout-form {
  width: 50%;
}
.form-title {
  @include title(13px, 600);
  padding-bottom: 10px;
}
.form-desc {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
}
.form-radio {
  padding: 30px 0 15px;
}
.radio {
  display: none;
}
.radio-label {
  @include title(12px, 600);
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}
.radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #555555;
  border-radius: 7px;
  font-size: 18px;
  line-height: 8px;
  text-align: center;
}
.radio:checked + .radio-label:before {
  content: "\2022";
}
.form-desc-list {
  padding-top: 30px;
}
.form-desc-list-item {
  margin-bottom: 15px;
}
.form-desc-list-item:last-child {
  margin: 0;
}
.form-desc-list-item i {
  margin-right: 4px;
}
.form-input {
  margin-top: 20px;
}
.checkout-label {
  display: block;
  @include title(12px, 600);
  padding-bottom: 20px;
}
.checkout-label .red {
  font-size: 16px;
  margin-left: 3px;
}
.checkout-input {
  display: block;
  border: 1px solid #eaeaea;
  width: 390px;
  height: 45px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 12px;
}
.red {
  color: #ff0d0d;
}
.form-button {
  margin-top: 35px;
}
.forgot-pass {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 30px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.forgot-pass:hover {
  color: $pink;
}